body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 26, 26);
    color: white;
    line-height: 1.5;
}

header{
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
}

header h1{
    font-family: Clicker Script;
    font-size: 45px;
    color: rgb(206, 243, 120);
    font-weight: bold;
}

section{
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

img:hover{
    background-color: #e6b000;
    box-shadow: 0 0 100px rgb(209, 228, 156);
    transition: 0.4s ease-in-out;
}

p{
    margin-top: 20px;
    font-family: Playwrite NG Modern;
    font-size: 16px;
    font-weight: bold;
}

span{
    font-size: 15px;
    font-weight: lighter;
}

h2{
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}

h1{
    font-size: 17px;
    font-weight: lighter;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    color: black;
    border-radius: 5px;
}

li:hover{
    background-color: rgb(28, 31, 23);
    color: white;
}

a{
    margin: 0 10px;
    text-decoration: none;
    color: #0073e6;
}

a:hover{
    text-decoration: underline;
}

footer{
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
    text-decoration: none;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: rgb(205, 241, 105);
}


@media (max-width: 600px) {
    header, section, footer {
        width: 95%;
    }

    img{
        width: 200px;
        height: 200px;
    }

    header h1{
        font-size: 35px;
    }
    
    section p{
        font-size: 13px;
    }

    span{
        font-size: 12px;
    }
}